<launch>

	<include file="$(find gazebo_sim)/launch/spawn_urdf.launch">
        <arg name="robot_name" value="box1" />
        <arg name="x" value="3.0" />
        <arg name="y" value="-3.2" />
        <arg name="z" value="-1.5" />
        <arg name="roll" value="0.0" />
        <arg name="pitch" value="0.0" />
        <arg name="yaw" value="0.0" />
        <arg name="urdf_robot_file" value="$(find gazebo_sim)/urdf/box.urdf" />
    </include>

	<include file="$(find gazebo_sim)/launch/spawn_urdf.launch">
        <arg name="robot_name" value="box2" />
        <arg name="x" value="5.0" />
        <arg name="y" value="-2.8" />
        <arg name="z" value="-1.5" />
        <arg name="roll" value="0.0" />
        <arg name="pitch" value="0.0" />
        <arg name="yaw" value="0.0" />
        <arg name="urdf_robot_file" value="$(find gazebo_sim)/urdf/box.urdf" />
    </include>

</launch>